<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>404 Not Found</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
        <div style="margin:20px;" class="class=" col-md-5"">
                <section>
                        <div class="jumbotron">
                                <h2>Справочная информация в режиме archive</h2>
                                <br>
                                <table border=1 style="padding:20px;margin:2px">
                                        <tr>
                                                <td>Земельный участок не найден</td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <table border="1" cellspacing="8" cellpadding="0" width="100%">
                                                                <tr>
                                                                        <td align="left" valign="top" width="250"
                                                                                nowrap="true">
                                                                                Кадастровый номер:
                                                                        </td>
                                                                        <td width="75%" valign="top" id="td_cn">
                                                                                <%=SearchCriteria %>
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </td>
                                        </tr>
                                </table>


                        </div>
                </section>

                <p><a class="btn btn-primary btn-lg" role="button" onclick="ShowNewFBQuery();" id="NewQueryButton">
                                Новый запрос</a></p>
        </div>


        <br>
        </div>

        <input class="form-control" id="inputFB_cn" maxlength="200" value=<%=SearchCriteria %>
        name="numregfb" placeholder="Номер записи"
        style="display: none; width: 150px" type="text" />
        <input type="button" class="btn btn-primary btn-lg" onclick="FindFBData(jQuery('#inputFB_cn').val());" value="ЕГРЗ"
                id="buttonFB_cn" style="display: none; width: 120px" />

        <script>
                function ShowNewFBQuery() {
                        jQuery('#inputFB_cn').show();
                        jQuery('#buttonFB_cn').show();
                };


                function FindFBData(cn) {
                        if ((window.location.host == 'localhost:3050') ||
                                (window.location.host == '127.0.0.1:3050'))
                                reqUrlprefix = ""
                        else reqUrlprefix = "/node";

                        jQuery.get(reqUrlprefix + '/fb/egrz/find?cn=' + cn, function callback(data, status, jqXHR) {
                                if (jqXHR.status == 200) {
                                        $("body").html(data);
                                };
                                //   document.getElementById('buttonFB_cn').style.display = "none";
                                //   document.getElementById('inputFB_cn').style.display = "none";

                        });
                };
        </script>

</body>
<footer>
        <h7>
                System
                <%=Target%>
        </h7>

</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</html>